$color_1: white;
$color_2: white;
$color_3: white;
$font-family_1: "Open Sans";

.getStarted {
  background-image: url("https://i.ibb.co/f8fBStR/background-VPN.png");
  height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow: hidden;

  .getStarted-wrap {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.getStarted_button {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #25292f;
  z-index: 1;
  border: none;
  background-color: #eff0f3;
}

.getStarted_title {
  text-align: center;
  padding: 20px;
  font-family: $font-family_1;
  color: $color_1;
  font-size: 20px;
  cursor: default;
}

.getStarted_subTitle1 {
  text-align: center;
  padding: 10px;
  font-family: $font-family_1;
  color: $color_3;
  font-size: 13px;
  cursor: default;
}

.getStarted_subTitle2 {
  text-align: center;
  padding: 10px;
  font-family: $font-family_1;
  color: $color_3;
  font-size: 8px;
  cursor: default;
}

.getStarted_image1 {
  height: 200px;
  width: 200px;
  background-image: url("https://i.ibb.co/TwZstQg/rm373batch3-banner-05-ai.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}