@mixin tablet {
  @media screen and (max-width: 768px) {
    @content
  }
}

.bottom {
  background-image: url("../../../public/images/bottom2.png");
  background-color: #25292F;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow: hidden;
  position: relative;

  &::before {
  position: absolute;
  content:"";
  height:100%;
  width:100vw;
  top: 0;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  background: linear-gradient(180deg, #eff0f3 0%, rgba(255, 255, 255, 0) 70%);
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 100vh;

    .wrap-top {
      gap: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      color: #25292F;
      z-index: 1;
      height: 100vh;
      position: relative;
      right: -500px;

      @include tablet {
        right: 0;
      }

      .bottom_title-top{
        text-align: center;
        text-transform: uppercase;
        padding: 0px;
        font-size: 30px;
        color: #25292F;
        cursor: default;
      }

      .bottom_title{
        text-align: center;
        padding: 30px;
        font-size: 15px;
        color: #25292F;
      }
    }
    

    .wrap-bottom{
      padding: 0 0 40px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      z-index: 3;

      @include tablet {
        padding: 0 0 20px 0px;
        gap: 20px;
      }

      .wrap-bottom-buttons{
        display: flex;
        gap: 20px;

        @include tablet {
          flex-direction: column;
        }
      }

      .arrowUp {
        color: #eff0f3;
      }
      .wrap-bottom-rights {
        color: #eff0f3b6;
        font-size: 12px;
        font-weight: 500;
      }

      .googlePlay{
        background-image: url("../../../public/images/googlePlay.png");
        height: 40px;
        transition-duration: 500ms;
        aspect-ratio: 209 / 70;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer; 
        border-radius: 6px;
        -webkit-filter:  invert(94%) sepia(94%) saturate(3%) hue-rotate(165deg) brightness(105%) contrast(100%);
        filter: invert(94%) sepia(94%) saturate(3%) hue-rotate(165deg) brightness(105%) contrast(100%);
        
        &:hover {
          -webkit-filter:  invert(94%) sepia(94%) saturate(3%) hue-rotate(165deg) brightness(105%) contrast(100%);
          filter: none;          
          background-color: white;
        }
      }

      .appleStore {
        background-image: url("../../../public/images/appleStore.png");
        height: 40px;
        transition-duration: 500ms;
        border-radius: 6px;
        aspect-ratio: 209 / 70;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        -webkit-filter:invert(94%) sepia(94%) saturate(3%) hue-rotate(165deg) brightness(105%) contrast(100%);
        filter: invert(94%) sepia(94%) saturate(3%) hue-rotate(165deg) brightness(105%) contrast(100%);
        &:hover {
          -webkit-filter:  invert(94%) sepia(94%) saturate(3%) hue-rotate(165deg) brightness(105%) contrast(100%);
          filter: none;          
          background-color: white;
        }
      }
    }
  }
}