.HowItWorks {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  scroll-snap-align: start;
  overflow: hidden;
}

.HowItWorks_title-top {
  text-align: center;
  padding: 20px;
  font: normal normal bold 26px Open Sans;
  font-family: fussionregular;
  color: #020940;
  cursor: default;
}

.HowItWorks_title {
  text-align: center;
  padding: 20px;
  font: bold 20px Open Sans;
  color: #020940;
  cursor: default;
}

.HowItWorks_image2 {
  height: 472px;
  width: 728px;
  background-image: url("https://i.ibb.co/F473rNt/556-ai.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.HowItWorks_image1 {
  width: 40vw;
  height: 100%;
  background-image: url("https://i.ibb.co/4s2hK9K/14622-ai.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  left: -100px;
  top: -50px;
  transform: rotateY(180deg);
}

@media only screen and (max-width: 1200px) {
  .HowItWorks_image1 {
    width: 50vw;
    height: 100%;
  }
}

@media only screen and (max-width: 772px) {
  .HowItWorks_image1 {
    width: 60vw;
    height: 100%;
  }

  .HowItWorks_image2 {
    height: 300px;
    width: 500px;
  }
}

@media only screen and (max-width: 520px) {
  .HowItWorks_image1 {
    width: 90vw;
    height: 100%;
  }

  .HowItWorks_image2 {
    height: 250px;
    width: 400px;
  }
}

@media only screen and (max-width: 420px) {
  .HowItWorks_image1 {
    width: 80vw;
    height: 100%;
  }

  .HowItWorks_image2 {
    height: 250px;
    width: 300px;
  }
}