$color_1: #25292f;
$font-family_1: "Open Sans";

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content
  }
}

.HowItWorks {
  display: flex;
  z-index: -1;
  width: 100vw;
  transform: translateZ(-20px) scale(3);
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  scroll-snap-align: start;

  @include tablet {
    margin: 300px;
    transform: translateZ(-5px) scale(1.5);

  }

  .howWrap {
    padding: 0 0 0px 0;

    .HowItWorks_title-top {
      text-align: center;
      text-transform: uppercase;
      padding: 20px;
      font-size: 25px;
      font-family: $font-family_1;
      color: $color_1;
      cursor: default;
    }

    .HowItWorks_title {
      text-align: center;
      padding: 20px;
      text-transform: uppercase;
      font-size: 15px;
      font-family: $font-family_1;
      color: $color_1;
      cursor: default;
    }


    .mainPageWhyUs-statistics-box {
      margin: 0 0 50px 0
    }

    .mainPageWhyUs-statistics {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font: normal normal bold 22px Open Sans;
    }

    .mainPageWhyUs-statistics-weekends {
      padding: 0 20px 0 20px;
      color: rgba(255, 255, 255, 0.767);
      max-width: 260px;
    }

    .icons {
      color: #0000008f;
      font-size: 80px;
      padding: 0 0 40px 0;
      transition-duration: 500ms;
      margin: 60px 0 0 0;

    }

    .icons:hover {
      color: #000000d5;
      transition-duration: 500ms;
    }

    .mainPageWhyUs-statistics-time {
      padding: 0 20px 0 20px;
      color: rgba(255, 255, 255, 0.767);
      max-width: 260px;
    }

    .mainPageWhyUs-statistics-perDay {
      padding: 0 20px 0 20px;
      color: rgba(255, 255, 255, 0.767);
      max-width: 260px;
    }

    .mainPageWhyUs-arrow {
      display: flex;
      justify-content: center;
      font-size: 50px;
      margin: 10px 0 0 0;
    }

    .mainPageWhyUs-arrow a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.527);
      transition-duration: 500ms;
      position: relative;
      top: 0;
      margin: 50px 0 0 0;
    }

    .mainPageWhyUs-arrow a:hover {
      transition-duration: 500ms;
      color: rgb(255, 255, 255);
      position: relative;
      top: 5px;
    }
  }
}