@mixin tablet {
  @media screen and (max-width: 768px) {
    @content
  }
}


.navbar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: white;
  padding: 40px 0 40px 0;
  z-index: 2;
  scroll-snap-align: start;
  background: linear-gradient(180deg, #25292f 0%, #eff0f300 100%);

  @include tablet {
    background: none;
  }

}

.navbar_title {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  top: 200px;
  font-size: 40px;
  padding: 0 20px 0 40px;
  cursor: default;
  transition-duration: 300ms;
  color: rgba(255, 255, 255, 0.822);


}

.navbar_navigation {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 40px 0 20px;
}

.navbar_navigation a {
  text-decoration: none;
}

.navbar_navigation_mobile {
  display: none;
}

.navbar_navigation_element {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.678);
  padding: 10px 10px 10px 10px;
  font-weight: 500;
  font-size: 18px;
  transition-duration: 300ms;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0);
}

.navbar_navigation_element:hover {
  color: white;
  transform: scale(1.1);
  text-shadow: 0 0 10px rgba(255, 255, 255);
}

.navbarM {
  display: none;
}






@media only screen and (max-width: 768px) {


  .navbar_title {
    padding: 50px 0 0 0;
    font-size: 45px;
  }

  .navbar_navigation_element {
    font-size: 15px;
  }

  ul {
    top: 0;
    width: 70vw;
    gap: 30px;
    position: absolute;
  }

  .PC {
    display: none;
  }

  .Navbar__icons {
    max-width: 300px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: absolute;
    bottom: -50px;
  }


  .navbarM {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 5;
  }

  .checkbox {
    display: block;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 25px;
    width: 30px;
    top: 16px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px 1px #000000;
    transition: all 1s;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbarM .menu-items {
    opacity: 0.98;
    height: 100vh;
    max-width: 250px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    padding-left: 20px;
    box-shadow: 0px 0px 5px rgb(0 0 0);
    transition: all 1s;
    background-color: #25292f8f;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

  }

  .navbarM .menu-items li {
    margin-bottom: 1.5rem;
  }




  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
    transition: all 1s;
  }

  .navbar-container input[type="checkbox"]~.menu-items {
    transition: all 1s;
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    box-shadow: 0 0 0px #000000;
    transform: rotateZ(-45deg) scaleX(0.75) translate(-12px, 6px);
  }


  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    box-shadow: 0 0 0px #000000;

  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    box-shadow: 0 0 0px #000000;

    transform: rotateZ(45deg) scaleX(0.75) translate(-13px, -7px);
  }
}