.navbar {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: white;
  padding: 40px 0 40px 0;
}

.navbar_title {
  font-family: fussionregular;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 40px;
  padding: 0 20px 0 40px;
  cursor: default;
}

.navbar_navigation {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 40px 0 20px;
}

.navbar_navigation a {
  text-decoration: none;
}

.navbar_navigation_mobile {
  display: none;
}

.navbar_navigation_element {
  font-family: fussionregular;
  color: rgba(255, 255, 255, 0.678);
  padding: 10px 10px 10px 10px;
  font-size: 10px;
  transition-duration: 300ms;
  cursor: pointer;
}

.navbar_navigation_element:hover {
  color: white;
  transition-duration: 300ms;
}

.navbar_navigation_element:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(41, 131, 190, 0.678);
  display: block;
  top: 20px;
  position: relative;
  transition-duration: 300ms;
}

@media only screen and (max-width: 772px) {
  .navbar {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 88vh;
  }

  .navbar_navigation {
    display: none;
  }

  .navbar_navigation_mobile {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    bottom: 10px;
    opacity: 0.8;
  }

  .navbar_navigation_element_mobile {
    border-radius: 18px;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-color: #7ef2fab7;
    border: 1px solid #020940;
    box-shadow: 0px 0px 5px 1px #000000;
  }

  .download {
    background-image: url("https://i.ibb.co/crnXBkW/downloading-1.png");
  }

  .questionMark {
    background-image: url("https://i.ibb.co/y5DVBF3/question-1.png");
  }

  .prices {
    background-image: url("https://i.ibb.co/y8drhXd/dollar-1.png");
  }

  .contact {
    background-image: url("https://i.ibb.co/fGH46zD/email-2.png");

    }
  }