.prices {
  background-image: url("https://i.ibb.co/wKcwRzx/backgroundv2.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}