.prices {
  height: 100vh;
  background-color: #eff0f3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow: hidden;
  z-index: -2;
}

@media only screen and (max-width: 768px) {
  .prices {
    height: min-content;;
    min-height: 100vh;
  }
}