@font-face {
  font-family: 'fussionregular';
  src: url('./fonts/fussion-3zgaz-webfont.woff2') format('woff2'),
    url('./fonts/fussion-3zgaz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  text-decoration: none !important;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section::-webkit-scrollbar {
  width: 6px;
  background-color: #020940;
}

.section::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 100px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 4px;
  scrollbar-color: #020940 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  box-shadow: 0 0 10px 10px #020940;
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  box-shadow: 0 0 10px 10px #020940;
  background-color: #020940;
  border-radius: 0px;
  width: 4px;
}